[submodule "barge"]
	path = barge
	url = https://github.com/commune-ai/barge.git
[submodule "backend/ocean.py"]
	path = backend/ocean.py
	url = https://github.com/commune-ai/ocean.py.git
[submodule "backend/ipfspy"]
	path = backend/ipfspy
	url = https://github.com/commune-ai/ipfspy.git
[submodule "backend/ipfsspec"]
	path = backend/ipfsspec
	url = https://github.com/commune-ai/ipfsspec.git
[submodule "provider"]
	path = provider
	url = https://github.com/commune-ai/provider.git
[submodule "aquarius"]
	path = aquarius
	url = https://github.com/commune-ai/aquarius.git
